.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 12px;
}

.activeLink {
  composes: link;
  color: rgb(58, 202, 29);
}
